/* Global */
.container {
  width: 80%;
  overflow: hidden;
  position: relative;
}

.clr{
  clear: both;
}

/* Header */ 
#main-header{
  background-color: #343A40;
  color: #f4f4f4;
  padding-top: 20px;
}

#main-header h1{
  font-weight: bold;
  width: 50%;
  float: left;
  text-transform: uppercase;
  font-size: 40px;
  margin-left: 5px;
}

#main-header img{
  float: left;
  width: 4.5%;
  margin-top: 4px;
}

/* Signout Button */
#signout{
  float: right;
  width: 15%;
  box-sizing: border-box;
}

/* Navigation */
.navigation {
  border-bottom:#e8491d 3px solid;
}

.navbar-nav {
  margin-left: 10px;
}

/* Showcase */
#showcase{
  padding-bottom: 442px;
  background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.imgur.com/IWS7qlx.jpg') no-repeat;
  background-size: 2560px 1440px;
  background-position: center center;
  background-attachment: fixed;
  text-align: center;
  color: #f4f4f4;
}

#showcase .container{
  padding-bottom: 300px;
}

#showcase h1{
  margin: auto;
  padding-top: 300px;
  margin-bottom: 30px;
  font-size: 62px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  width: 80%;
}

/* Main */
.main{
  color: #555;
}

.main img{
  width: 200px;
  height: 200px;
  border: 3px #e8491d solid;
  border-radius: 15px;
}

/* About */
.about-geoscience{
  margin-top: 135px;
  background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.imgur.com/IWS7qlx.jpg') no-repeat;
  background-size: 2560px 1440px;
  background-position: center center;
  background-attachment: fixed;
}

.about{
  margin-top: 135px;
  background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.imgur.com/IWS7qlx.jpg') no-repeat;
  background-size: 2560px 1440px;
  background-position: center center;
  background-attachment: fixed;
}

.about-services{
  margin-top: 135px;
  padding-top: 65px;
  padding-bottom: 634px;
  background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.imgur.com/IWS7qlx.jpg') no-repeat;
  background-size: 2560px 1440px;
  background-position: center center;
  background-attachment: fixed;
}

/* Description */
.description {
  border: 2px #ccc solid;
  margin-top: 65px;
  margin-bottom: 200px;
  padding-bottom: 50px;
  line-height: 1.6em;
  background-color: #f4f4f4;
  border-radius: 15px;
}

.description img{
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
}

.description h1{
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.description p{
  width: 70%;
  margin: auto;
  font-size: 18px;
  line-height: 1.6em;
}

.description h6{
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Sponsor */
.sponsor{
  border: 2px #ccc solid;
  background-color: #f4f4f4;
  padding-top: 5px;
  padding-bottom: 50px;
  border-radius: 15px;
  box-sizing: border-box;
  margin: auto;
  margin-top: 65px;
  width: 55%;
}

.sponsor h2{
  box-sizing: border-box;
  padding-left: 15px;
  font-weight: bold;
}

.sponsor h3{
  float: right;
  width: 50%;
  margin-top: 50px;
  margin-right: 15px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 32px;
}

.sponsor h5{
  float: right;
  width: 50%;
  box-sizing: border-box;
  margin-right: 15px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.sponsor p{
  width: 83%;
  box-sizing: border-box;
  margin: auto;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.6em;
}

.sponsor img{
  float: left;
  width: auto;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 50px;
}

/* Team */
.team {
  border: 2px #ccc solid;
  background-color: #f4f4f4;
  padding-top: 5px;
  padding-bottom: 275px;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 150px;
  width: 55%;
}

.team h2{
  box-sizing: border-box;
  padding-left: 15px;
  font-weight: bold;
}

.team h3{
  float: right;
  width: 50%;
  margin-top: 50px;
  margin-right: 15px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 32px;
}

.team h5{
  float: right;
  width: 50%;
  box-sizing: border-box;
  margin-right: 15px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.team img{
  float: left;
  width: auto;
  box-sizing: border-box;
  margin-top: 30px;
  margin-left: 50px;
}

/* Services */
.services{
  border: 2px #ccc solid;
  background-color: #f4f4f4;
  border-radius: 15px;

  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;

  margin: auto;
  margin-bottom: 150px;

  width: 70%;
  position: relative;
}

/* Button */
.container .button{
  left: 0px;
  top: 50px;
}

.container .button a{
  padding: 20px 40px;
  text-transform: uppercase;
  font-size: 20px;
}

.button{
  position:relative;
  display:inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
  bottom: 15px;
  left: 15px;
}

.button a{
  color:white;
  font-family:Helvetica, sans-serif;
  font-weight:bold;
  font-size:16px;
  text-align: center;
  text-decoration:none;
  background-color:#FFA12B;
  display:block;
  position:relative;
  padding:5px 10px;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, 0 10px 0 #915100;
  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active{
  top:10px;
  background-color:#F78900;
  
  -webkit-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
  -moz-box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3pxpx 0 #915100;
  box-shadow:inset 0 1px 0 #FFE5C4, inset 0 -3px 0 #915100;
}

.button:after{
  content:"";
  height:100%;
  width:100%;
  padding:4px;
  position: absolute;
  bottom:-15px;
  left:-4px;
  z-index:-1;
  background-color:#2B1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

label{
  display: inline-block;
  background-color: #465155;
  color: white;
  padding:6px 13px;
  font-size:16px;
  font-family:Helvetica, sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 15px;
}

#file-chosen{
  margin-left: 0.3rem;
  font-family: sans-serif;
}